[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.suo
*.user
*.userprefs
*.designer.cs.log
.vs/                   
ipch/                  
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.log
*.tmv
*.testrunconfig
*.trx
packages/
*.nupkg
*.snk
.DS_Store
.Trash
Thumbs.db
desktop.ini
*.zip